<ul class="nav nav-pills" id="wizardGenerator"aria-multiselectable="true">
        <li><a data-toggle="collapse" href="#step1" aria-expanded="false" aria-controls="step1" data-parent="#wizardGenerator">Step 1</a></li>
        <li><a data-toggle="collapse" href="#step2" aria-expanded="false" aria-controls="step2" data-parent="#wizardGenerator">Step 2</a></li>
        <li><a data-toggle="collapse" href="#step3" aria-expanded="false" aria-controls="step3" data-parent="#wizardGenerator">Step 3</a></li>
        <li><a data-toggle="collapse" href="#step4" aria-expanded="false" aria-controls="step4" data-parent="#wizardGenerator">Step 4</a></li>
        <li><a data-toggle="collapse" href="#step5" aria-expanded="false" aria-controls="step5" data-parent="#wizardGenerator">Step 5</a></li>
        <li><a data-toggle="collapse" href="#result" aria-expanded="false" aria-controls="result" data-parent="#wizardGenerator">Result</a></li>
    </ul>